name: Metrics
on:
  schedule: [{cron: "0 0 */1 * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: parazeeknova
          template: classic
          base: header, activity, community, repositories, metadata
          base_hireable: yes
          base_indepth: yes
          config_display: large
          config_octicon: yes
          config_timezone: Asia/Calcutta
          config_twemoji: yes
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 30
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_habits_languages_limit: 12
          plugin_habits_languages_threshold: 1%
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages: yes
          plugin_languages_analysis_timeout: 60
          plugin_languages_analysis_timeout_repositories: 40
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github, renderscript:#B7410E, TSX:#3E7EC4
          plugin_languages_indepth: yes
          plugin_languages_limit: 24
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 24
          plugin_languages_recent_load: 600
          plugin_languages_sections: most-used, recently-used
          plugin_languages_threshold: 1%
          plugin_languages_aliases: renderscript:Rust, TSX:React-Typescript
          plugin_languages_details: bytes-size, lines, percentage
          plugin_lines: yes
          plugin_lines_history_limit: 2
          plugin_lines_repositories_limit: 40
          plugin_lines_sections: base
          plugin_repositories: yes
          plugin_repositories_featured: zephyr, zephara, snix, myfolio-v2, nyxtext-zenith, vue-the-world
          plugin_repositories_order: featured, pinned, starred, random
          plugin_traffic: yes
          plugin_wakatime: yes
          plugin_wakatime_days: 14
          plugin_wakatime_limit: 6
          plugin_wakatime_repositories_visibility: all
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_url: https://wakatime.zephyyrr.in
          plugin_wakatime_token: ${{ secrets.WAKAPI_TOKEN }}
          plugin_wakatime_user: parazeeknova
          
  delete-runs:
   runs-on: ubuntu-latest
   steps:
     - name: Delete workflow runs
       uses: Mattraks/delete-workflow-runs@main
       with:
         retain_days: 2
         keep_minimum_runs: 2
